.container {
  padding: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-text-primary {
  text-align: center;
  font-size: 38px;
  background: url("/images/gradient-animation.gif");
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero-search-box {
  width: 100%;
}

.search-form {
  width: 100%;
}

.search-input {
  width: 100%;
  padding: 13px 20px;
  border: none;
  font: inherit;
  border-radius: 7px;
  background: #282828;
  font-size: 17px;
  color: #fff;
  text-align: center;
}

.search-input::placeholder {
  font-weight: 500;
  color: #fff;
  opacity: 0.6;
}

.search-input:focus {
  outline: 2px solid #40906e;
}

@media screen and (min-width: 767px) {
  .hero-text-primary {
    font-size: 60px;
  }

  .hero-search-box {
    width: 60%;
  }
}
